*.pyc
*.par
build
shopfloor_data
.tests-passed
.lint-frontend-passed
.frontend-presubmit-passed
overlay-*
go/bin
go/pkg
*.venv
setup/rootCA.pem
setup/cert.pem
setup/ovl_password
**/proto/*.py
jsconfig.json
.vscode
