.button {
  text-align: center;
  font-size: 1em;
  border-radius: 10px;
  background-color: lightgrey;
  position: relative;
  float: left;
}

.button-margin {
  margin-left: 5px;
  margin-top: 5px;
}

.left-enter {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.right-enter {
  border-top-left-radius: 0px;
}

.button .button-sm {
  border-radius: 5px;
}

.button-wrapper {
  position: absolute;
}

.row {
  height: 57px;
  width: 100%;
  position: relative;
}

.row-sm {
  height: 35px;
}

.key-status {
  position: absolute;
  top: -25px;
  left: -25px;
  display: none;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}

#keyboard {
  height: 330px;
  border: 1px black solid;
  position: relative;
  float: left;
}

#numpad {
  height: 330px;
  width: 225px;
  border: 1px black solid;
  position: relative;
  float: left;
  left: 10px;
  display: none;
}

button {
  margin: 5px auto;
  display: block;
}

i18n-label {
  display: block;
}
