dulwich==0.20.3
Flask==1.1.1
google-api-python-client==1.9.3
google-cloud-bigquery==1.27.2
google-cloud-firestore==1.8.1
google-cloud-logging==3.1.2
google-cloud-ndb==1.11.1
google-cloud-pubsub==1.6.0
google-cloud-storage==1.43.0
google-cloud-tasks==2.9.1
pylint==2.13.9
redis==3.3.11
