/*
 * Copyright 2022 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#fingerprint_table {
  margin: auto;
  border: 1px solid black;
}

#fingerprint_table td {
  border: 1px solid black;
}
