/*
 * Copyright 2017 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#success {
  font-size: 4em;
  background-color: #afa;
}

#template {
  text-align: center;
}

.accelerometer {
  width: 100%;
  float: left;
  display: none;
}

.picture {
  font-size: 10em;
}

#imgs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

#chromebook_lid, #chromebook_base {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#lid_instruction, #base_instruction {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  animation: rotation 2s infinite;
}

#instruction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

@keyframes rotation {
  100% {transform: rotate(-90deg);}
}

